.places {
  max-width: 984px;
  margin: 0 auto;
  padding: 92px 148px;
  height: fit-content;
  transition: all 1s linear;
}

@media (max-width: 1279px) {
  .places {
    padding: 92px 48px;
  }
}

@media (max-width: 1023px) {
  .places {
    max-width: 928px;
    padding: 88px 24px 90px;
  }
}

@media (max-width: 695px) {
  .places {
    max-width: 663px;
    padding: 64px 0 66px;
  }
}
