.photo-grid__container {
  margin: 0 auto;
  max-width: 1184px;
  display: grid;
  /* grid-auto-flow: column; */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
}

@media (max-width: 1024px) {
  .photo-grid__container {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 14px;
  }
}

@media (max-width: 768px) {
  .photo-grid__container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
  }
}

@media (max-width: 420px) {
  .photo-grid__container {
    grid-template-columns: 1fr;
    grid-gap: 12px;
  }
}
