.places__title {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  margin-block-start: 0;
  margin-block-end: 0;
  color: #fff;
  align-self: center;
}



@media (max-width: 847px) {
  .places__title {
    font-size: 42px;
    line-height: 110%;
  }
}


@media (max-width: 695px) {
  .places__title {
    align-self: flex-start;
    padding: 0 16px;
  }
}
