.lead {
  max-width: 984px;
  max-height: 1005px;
  margin: 0 auto;
  padding: 0 148px;
  /* border: solid red 1px; */
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
}




@media (max-width: 1279px) {
  .lead {
    padding: 0 48px;
  }
}


@media (max-width: 1023px) {
  .lead {
    max-width: 928px;
    padding: 0;
  }
}
