.cover {
  max-width: 1184px;
  aspect-ratio: 15.98/9.98;
  margin: 0 auto;
  padding: 0 48px;
  background-image: url(../../images/cover__background.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

@media (max-width: 1279px) {
  .cover {
    padding: 0;
  }
}
