.places__main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

@media (max-width: 695px) {
  .places__main-content {
    padding: 0 16px;
    padding-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 25px;
  }
}
