.cover__overlay {
  margin: 0 auto;
  max-width: 1184px;
  aspect-ratio: 15.98/9.98;
  margin: 0 auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


@media (max-width: 320px) {
  .cover__overlay {
    padding-top: 33px;
  }
}
