.cover__title {
  max-width: 560px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin: 0 auto;
  margin-bottom: 32px;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 106%;
  text-align: center;
  color: #fff;
  z-index: 2;
}

@media (max-width: 518px) {
  .cover__title {
    font-size: 32px;
    line-height: 109%;
    padding: 0 16px;
    margin-bottom: 16px;
  }
}
