.card {
  display: grid;
  grid-template-columns: calc(50% - 32px) calc(50% - 8px);
  column-gap: 40px;
  row-gap: 48px;
  padding-top: 80px;
  transition: all 1s linear;
}

.card:nth-of-type(1) {
  padding-top: 0px;
}

@media (max-width: 1279px) {
  .card {
    grid-template-columns: calc(50% - 24px) calc(50% - 8px);
    column-gap: 32px;
  }
}

@media (max-width: 1023px) {
  .card {
    grid-template-columns: calc(50% - 20px) calc(50% - 8px);
    column-gap: 28px;
    padding-top: 73px;
  }
}

@media (max-width: 695px) {
  .card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    row-gap: 0;
    padding-top: 50px;
  }
}
